/* App.css */
body {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  background-image: url("./photo-1475274047050-1d0c0975c63e.avif");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  /* Other CSS styles */
  font-family: sans-serif; /* Add your preferred font-family */
}

.App {
  text-align: center; /* Center align content */
}
/* App.css */
/* App.css */

/* Gray Theme */
.App.gray-theme {
  background-color:rgb(20, 20, 66);
  color: whitesmoke;
}

/* Black Theme */
.App.black-theme {
  background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80");
  color:darkcyan;
}

/* Button styling */
.theme-button {
  background-color: rgb(23, 23, 127);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

